{% extends 'basepage.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Sign In</b></h5>
          <form class="form-signin" method="POST">
                      {% csrf_token %}
                      {% bootstrap_form login_form %}
              {% for message in messages %}

                    <div class="alert alert-warning">
                        <a class="close" href="{% url 'Account:login' %}" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}


<p class="list-group-item-text"><input type="submit" class="btn btn-primary" value="Login"></p>

              <a
                class="btn btn-lg btn-warning btn-block text-uppercase"
                href="{% url 'Account:start_reset' %}"
                >Forgot Password?
              </a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}