{% extends 'basepage.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div>
            <div class="card" style="margin-left:400px;width:400px;height:500px">
                <div class="card-header">
                <p> <span class="glyphicon glyphicon-lock" style="font-size:200px;margin-left:75px"></span></p>
                    <h3 style="margin-left:40px" >You can reset your password here</h3>
                    </div>
                <div class="card-body">


<form method="POST">
    {% csrf_token %}
    <div class="input-group" style="margin-top:30px">
      <span class="input-group-addon" style="height:22px"><i class="glyphicon glyphicon-pencil"></i></span>
     <div class="fieldWrapper">


    {{ form.password1 }}
</div>
    </div>
        <div class="input-group" style="margin-top:30px">
      <span class="input-group-addon" style="height:22px"><i class="glyphicon glyphicon-lock"></i></span>
        <div class="fieldWrapper">

    {{ form.password2 }}
</div>

    </div>
{{ form.non_field_errors }}

    <p></p>
    {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
    <div class="card-footer">
    <input class="btn btn-primary" style="width:347px" type="submit" value="RESET PASSWORD">
        </form>
        </div>


                </div>
            </div>

        </div>
    </div>
        </div>



{% endblock %}