<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Employee.css' %}">
    <script src="{% static 'js/Employee.js' %}"></script>

</head>
<body>

 <nav class="navbar navbar-expand-lg fixed-top shadow navbar-dark navbar-offcanvas" style="background-color: #155592;">

        <a style="font-size:40px;color:white" class="navbar-brand mr-auto" href="#">Readers Cafe</a>


        <button style="margin-left:1200px" class="navbar-toggler d-block" type="button" id="navToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-simple" style="font-size:25px" href="{% url 'Account:logout' %}">Logout</a></li>
        </ul>
        <div class="navbar-collapse offcanvas-collapse">
            <p class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Customer:customer_home' %}">Dashboard</a>
                </li>
                <p></p>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Customer:list_wish' user=cur_user.username %}">Wishlist</a>
                </li>
                 <p>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Customer:view_cart' user=cur_user.username %}">Cart</a>
                </li>
            </p>
                 <p></p>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Customer:suggest' %}">Query section</a>
                </li>
                <p></p>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Customer:view_transaction' %}" >View Transaction</a>
                </li>

            </ul>


        </div>
    </nav>
 {% block form_block %}
 <form method="POST">
     {% csrf_token %}
 <input style="margin-left:500px;width:400px;height:30px" name="query" type="text" placeholder="Enter book title/author" >
 <input style="width:100px" class="btn btn-warning" type="submit">

     </form>
  <br>
 {% endblock %}

{% block body_block %}
{% endblock %}

</body>
</html>